<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{{block "title"}}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <script defer src="https://ua.cdzombak.net/script.js" data-website-id="4be600c5-eb4d-4791-921d-892345456e9d"></script>
    <meta name="fediverse:creator" content="@dzombak@a2mi.social" />

    {{ghost_head}}
</head>

<body class="{{body_class}} has-serif-title is-head-left-logo">
<div class="gh-site">

    <header id="gh-head" class="gh-head gh-outer">
        <div class="gh-head-inner gh-inner">
            <div class="gh-head-brand">
                <div class="gh-head-brand-wrapper">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{@site.title}}
                    </a>
                    {{#if @custom.logo_subtitle}}<div class="cdz-head-logo-subtitle">{{@custom.logo_subtitle}}</div>{{/if}}
                </div>

                <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                <button class="gh-burger"></button>
            </div>

            <nav class="gh-head-menu">
                <div class="cdz-nav-container">
                    {{navigation}}
                    <!-- <div class="cdz-subnav-container cdz-subnav-container-blog">
                        <div>/blog:</div>
                        <ul class="nav cdz-subnav">
                            <li><a href="/blog/all">Posts</a></li>
                            <li><a href="/blog/projects">Projects</a></li>
                            <li><a href="/blog/series">Series</a></li>
                            <li><a href="/blog/tags">Topics</a></li>
                        </ul>
                    </div>
                    <div class="cdz-subnav-container cdz-subnav-container-etc">
                        <div>/etc:</div>
                        <ul class="nav cdz-subnav">
                            <li><a href="/etc/adsb">ADS-B</a></li>
                            <li><a href="/etc/published-elsewhere">Published Elsewhere</a></li>
                            <li><a href="/etc/clips">Clips</a></li>
                        </ul>
                    </div> -->
                </div>
            </nav>

            <div class="gh-head-actions">
                <button class="gh-search gh-icon-btn" title="Search" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                <a href="/feeds" class="gh-icon-btn" title="Feeds" aria-label="Feeds">{{> "icons/rss"}}</a>
            </div>
        </div>
    </header>

    {{{body}}}

    <footer class="gh-foot{{#unless @site.secondary_navigation}} no-menu{{/unless}} gh-outer {{^is "post"}}cdz-foot-nonpost{{/is}}">
        <div class="gh-foot-inner gh-inner">
            <div class="gh-copyright">
                <div class="cdz-stuff-i-like-emoji" title="some stuff I like">💻️ 🚵🏻‍♀️ 🏕️ 🐦 📸 🥾 ☕ 🌩️ 📻 🛶</div>
                <div class="cdz-copyright">
                    © {{date format="YYYY"}} <a href="/contact">{{@site.title}}</a>
                    <span class="cdz-terms-notice"><p>All rights reserved unless otherwise noted.<br />Use for AI training prohibited.</p></span>
                </div>
            </div>
            <div class="cdz-foot-nav-container">
                <div class="cdz-foot-nav">
                    <h3 class="gh-section-title">Site Navigation</h3>
                    <ul class="nav">
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/etc">/etc</a></li>
                        <li><a href="https://pictures.dzombak.com">Pictures</a></li>
                        <li><a href="/feeds">Feeds</a></li>
                    </ul>
                </div>
                <div class="cdz-foot-nav">
                    <h3 class="gh-section-title cdz-secondary-section-title">Within <a href="/blog">/blog</a>:</h3>
                    <ul class="nav">
                        <li><a href="/blog/all">Posts</a></li>
                        <li><a href="/blog/projects">Projects</a></li>
                        <li><a href="/blog/series">Series</a></li>
                        <li><a href="/blog/tag/talks/">Talks</a></li>
                        <li><a href="/blog/tags">Topics</a></li>
                        <li><a href="/blog/tag/birding/" style="padding-left: 0.5em;">Birding</a></li>
                        <li><a href="/blog/tag/series-project-announcements/" style="padding-left: 0.5em;">Project Announcements</a></li>
                        <li><a href="/blog/tag/series-project-logs/" style="padding-left: 0.5em;">Project Logs</a></li>
                    </ul>
                </div>
                <div class="cdz-foot-nav">
                    <h3 class="gh-section-title cdz-secondary-section-title">Within <a href="/etc">/etc</a>:</h3>
                    <ul class="nav">
                        <li><a href="/etc/adsb">ADS-B</a></li>
                        <li><a href="/etc/clips">Clips</a></li>
                        <li><a href="/etc/local">Local</a></li>
                        <li><a href="/etc/published-elsewhere">Published Elsewhere</a></li>
                    </ul>
                </div>
                <div class="cdz-foot-nav">
                    <h3 class="gh-section-title">Elsewhere</h3>
                    <ul class="nav">
                        <li><a rel="me" href="https://www.github.com/cdzombak">GitHub</a></li>
                        <li><a rel="me" href="https://a2mi.social/@dzombak">Mastodon</a></li>
                        <li><a rel="me" href="https://bookwyrm.social/user/dzombak/">BookWyrm</a></li>
                        <li><a rel="me" href="https://www.flickr.com/photos/chrisdzombak/">Flickr</a></li>
                        <li><a rel="me" href="https://www.linkedin.com/in/chris-dzombak">LinkedIn</a></li>
                    </ul>
                </div>
                <div class="cdz-foot-nav">
                    <h3 class="gh-section-title">Shop</h3>
                    <ul class="nav">
                        <li><a href="https://chrishats.com">Chris Hats</a></li>
                        <!-- <li><a href="">TK: Photography</a></li> -->
                        <!-- <li><a href="">TK: Design</a></li> -->
                        <!-- <li><a href="">TK: Hobbyist Electronics</a></li> -->
                        <!-- <li><a href="">TK: Software</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>

{{> "pswp"}}

<script type="module" src="https://dist.cdzombak.net/js/stl-viewer/stl-viewer.js"></script> <!-- ty: https://github.com/ottobonn/stl-viewer -->
<script src="https://dist.cdzombak.net/js/promise-polyfill.min.js"></script> <!-- ty: https://github.com/taylorhakes/promise-polyfill -->
<script src="https://dist.cdzombak.net/js/rss-parser/rss-parser.min.js"></script> <!-- ty: https://github.com/rbren/rss-parser -->
<script src="{{asset "built/main.min.js"}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smartquotes/2.3.2/smartquotes.js" integrity="sha512-4STBy7XNO6JwCAUgT9+RSNT0Q2HJg7rUM+kMqA9JoRtddKGtiB8gfDAItoJ54ty7ZchHT4g3G4vcNscR/q4ACg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>smartquotes();</script>

{{ghost_foot}}

</body>

</html>
