{{!< default}}

<main id="gh-main" class="gh-main gh-outer">
    <div class="gh-inner">
        {{#page}}

        <div class="gh-latest gh-card {{post_class}}">
            <header class="gh-card-header">
                <div class="gh-article-meta">
                    <span class="gh-card-date cdz-card-supertitle">Introductions</span>
                </div>
                <h2 class="gh-article-title gh-card-title">Hi there. I'm Chris.</h2>
            </header>

            <div class="gh-content cdz-home-introduction">
                <div class="gh-content">{{content}}</div>
                {{#if feature_image}}
                <figure class="cdz-home-introduction-feature-image">
                    <img
                        srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 720w,
                                {{img_url feature_image size="l"}} 960w,
                                {{img_url feature_image size="xl"}} 1200w,
                                {{img_url feature_image size="xxl"}} 2000w"
                        sizes="(max-width: 1200px) 100vw, 1200px"
                        src="{{img_url feature_image size="xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    >
                    {{#if feature_image_caption}}
                        <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
                {{/if}}
            </div>
        </div>

        <div class="gh-wrapper">
            <section class="gh-section">
                <h2 class="gh-section-title">More posts</h2>

                <div class="gh-feed">
                    {{^is "paged"}}
                        {{#foreach posts from="2"}}
                            {{> loop}}
                        {{/foreach}}
                    {{else}}
                        {{#foreach posts}}
                            {{> loop}}
                        {{/foreach}}
                    {{/is}}
                </div>

                {{#match posts.length "=" 1}}
                    Additional posts will be published soon.
                {{/match}}

                <button class="gh-loadmore gh-btn">Load more posts</button>
            </section>

        {{/page}}

            <aside class="gh-sidebar">
                {{#get "posts" filter="featured:true" limit="all" as |featured|}}
                    {{#if featured}}
                        <section class="gh-section">
                            <h3 class="gh-section-title">Featured</h3>

                            <div class="gh-featured gh-feed">
                                {{#foreach featured}}
                                    {{> loop}}
                                {{/foreach}}
                            </div>
                        </section>
                    {{/if}}
                {{/get}}

                {{#get "tags" include="count.posts" limit="all" as |topic|}}
                    <section class="gh-section">
                        <h3 class="gh-section-title">Microblog</h3>

                        <div class="gh-topic">
                            {{#foreach topic}}
                                <a class="gh-topic-item" href="{{url}}">
                                    <h3 class="gh-topic-name">{{name}}</h3>
                                    <span class="gh-topic-count">
                                        {{plural count.posts empty="0 posts" singular="% post" plural="% posts"}}
                                    </span>
                                </a>
                            {{/foreach}}
                        </div>
                    </section>
                {{/get}}

                <section class="gh-section">
                    <h3 class="gh-section-title">Recent Posts</h3>

                    <div class="gh-topic">
                        {{#foreach topic}}
                            <a class="gh-topic-item" href="{{url}}">
                                <h3 class="gh-topic-name">{{name}}</h3>
                                <span class="gh-topic-count">
                                    foo
                                </span>
                            </a>
                        {{/foreach}}
                    </div>
                </section>

                {{#if @site.recommendations_enabled}}
                    <section class="gh-section">
                        <h3 class="gh-section-title">Recommendations</h3>

                        <div class="gh-recommendations">
                            {{recommendations}}
                            <button data-portal="recommendations">See all {{> "icons/arrow-right"}}</button>
                        </div>
                    </section>
                {{/if}}
            </aside>
        </div>
    </div>
</main>
