{{!< default}}
{{#contentFor "title"}}{{@site.title}}{{/contentFor}}

<main id="gh-main" class="gh-main gh-outer cdz-home">
    <div class="gh-inner">

        {{#page}}
        <div class="gh-latest gh-card {{post_class}}">
            <header class="gh-card-header">
                <div class="gh-article-meta">
                    <span class="gh-card-date cdz-card-supertitle">An Introduction —</span>
                </div>
                <h2 class="gh-article-title gh-card-title">{{title}}</h2>
            </header>

            <div class="gh-content cdz-home-introduction">
                <div class="gh-content">{{content}}</div>
                {{#if feature_image}}
                <figure class="cdz-home-introduction-feature-image">
                    <img
                        srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 720w,
                                {{img_url feature_image size="l"}} 960w,
                                {{img_url feature_image size="xl"}} 1200w,
                                {{img_url feature_image size="xxl"}} 2000w"
                        sizes="(max-width: 1200px) 100vw, 1200px"
                        src="{{img_url feature_image size="xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    >
                    {{#if feature_image_caption}}
                        <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
                {{/if}}
            </div>
        </div>
        {{/page}}

        <div class="gh-wrapper">
            <div>
                <section class="gh-section">
                    <h2 class="gh-section-title">Interesting or Otherwise Notable</h2>

                    <div class="gh-featured gh-feed cdz-cards cdz-homepage-featured-cards">
                        {{#get "posts" filter="featured:true" limit="2" as |featured|}}
                            {{#foreach featured}}
                                {{> loop}}
                            {{/foreach}}
                        {{/get}}

                        {{#get "pages" slug="home-featured-links" as |featuredlinks|}}
                        {{#featuredlinks}}
                           {{content}}
                        {{/featuredlinks}}
                        {{/get}}
                    </div>
                </section>

                <section class="gh-section">
                    <h2 class="gh-section-title"><a href="https://pictures.dzombak.com/gallery/recent" target="_blank" rel="me">Recently Shared Pictures</a></h2>

                    <div class="gh-featured gh-feed cdz-pictures-feed" id="-cdz-pictures-feed">
                        <noscript>Embedded pictures feed requires JavaScript; please visit <a href="https://pictures.dzombak.com">pictures.dzombak.com</a>.</noscript>
                    </div>
                </section>

                <section class="gh-section">
                    <h2 class="gh-section-title"><a href="https://pictures.dzombak.com/gallery/FHaZFQEiAVAvrEbhkQo_CrBB" target="_blank">Recent Birb Friends</a></h2>

                    <div class="gh-featured gh-feed cdz-pictures-feed" id="-cdz-birdbuddy-feed">
                        <noscript>Embedded pictures feed requires JavaScript; please visit <a href="https://pictures.dzombak.com/gallery/FHaZFQEiAVAvrEbhkQo_CrBB">pictures.dzombak.com</a>.</noscript>
                    </div>
                </section>
            </div>

            <aside class="gh-sidebar">
                <section class="gh-section">
                    <h3 class="gh-section-title"><a href="https://micro.dzombak.com" target="_blank" rel="me">Microblog</a></h3>

                    <div class="gh-featured gh-feed" id="-cdz-microblog-feed">
                        <noscript>Embedded microblog feed requires JavaScript; please visit my microblog at <a href="https://micro.dzombak.com">micro.dzombak.com</a>.</noscript>
                    </div>
                </section>

                {{#get "posts" limit="3" filter="tags:-hash-tag-content" as |recent|}}
                    <section class="gh-section">
                        <h3 class="gh-section-title"><a href="/blog/">Recent Posts</a></h3>

                        <div class="gh-featured gh-feed">
                            {{#foreach recent}}
                                {{> loop}}
                            {{/foreach}}
                        </div>
                    </section>
                {{/get}}

                {{#if @site.recommendations_enabled}}
                    <section class="gh-section">
                        <h3 class="gh-section-title">Recommendations</h3>

                        <div class="gh-recommendations">
                            {{recommendations}}
                            <button data-portal="recommendations">See all {{> "icons/arrow-right"}}</button>
                        </div>
                    </section>
                {{/if}}
            </aside>
        </div>
    </div>
</main>
