{{!< default}}
{{#contentFor "title"}}Blog {{plural pagination.page empty='' singular='' plural='(page %) '}}• {{@site.title}}{{/contentFor}}

<main id="gh-main" class="gh-main gh-outer cdz-is-blog">
    <div class="gh-inner">
        {{^is "paged"}}
            {{#foreach posts limit="1"}}
                <article class="gh-latest gh-card {{post_class}}">
                    {{^has tag="#micropost"}}<a class="gh-card-link" href="{{url}}">{{/has}}
                        <header class="gh-card-header">
                            <div class="gh-article-meta">
                                <span class="gh-card-date">{{#has tag="#micropost"}}<a href="{{url}}">{{/has}}Latest — <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time>{{#has tag="#micropost"}}</a>{{/has}}</span>
                            </div>
                            <h2 class="gh-article-title gh-card-title">{{title}}</h2>
                        </header>

                        {{^has tag="#micropost"}}<p class="gh-article-excerpt">{{excerpt}}{{^if custom_excerpt}} …{{/if}}</p>{{/has}}
                        {{#has tag="#micropost"}}<p class="gh-article-excerpt">{{#if custom_excerpt}}{{custom_excerpt}}{{/if}}{{content}}</p>{{/has}}

                        {{^has tag="#micropost"}}
                        <footer class="gh-card-meta">
                            <span class="gh-card-duration">{{reading_time}}</span>
                            {{#if @site.comments_enabled}}
                                {{comment_count class="gh-card-comments"}}
                            {{/if}}
                            {{^has visibility="public"}}
                                {{> icons/star}}
                            {{/has}}
                        </footer>
                        {{/has}}
                    {{^has tag="#micropost"}}</a>{{/has}}
                </article>
            {{/foreach}}
        {{/is}}

        <div class="gh-wrapper">
            <div>
                <section class="gh-section">
                    <h2 class="gh-section-title">Featured Posts ★</h2>

                    <div class="gh-featured cdz-cards cdz-homepage-featured-cards">
                        {{#get "posts" filter="featured:true" limit="6" include="tags" as |featured|}}
                            {{#foreach featured}}
                                {{> loop}}
                            {{/foreach}}
                        {{/get}}
                    </div>
                </section>
                <section class="gh-section">
                    <h2 class="gh-section-title"><a href="/blog/all/">Recent Posts</a></h2>

                    <div class="gh-feed">
                        {{^is "paged"}}
                            {{#foreach posts from="2"}}
                                {{> loop}}
                            {{/foreach}}
                        {{else}}
                            {{#foreach posts}}
                                {{> loop}}
                            {{/foreach}}
                        {{/is}}
                    </div>

                    <button class="gh-loadmore gh-btn">Load more posts</button>
                </section>
            </div>

            <aside class="gh-sidebar">
                {{#get "tags" include="count.posts" limit="all" filter="name:~^'Series: '" as |topic|}}
                    <section class="gh-section">
                        <h3 class="gh-section-title"><a href="/blog/series/">Series</a></h3>

                        <div class="gh-topic">
                            {{#foreach topic}}
                                <a class="gh-topic-item" href="{{url}}">
                                    <h3 class="gh-topic-name" id="-cdz-topic-name-{{slug}}">{{name}}</h3>
                                    <script type="text/javascript">
                                        document.getElementById("-cdz-topic-name-{{slug}}").textContent = "{{name}}".slice("Series: ".length);
                                    </script>
                                    <span class="gh-topic-count">
                                        {{plural count.posts empty="0 posts" singular="% post" plural="% posts"}}
                                    </span>
                                </a>
                            {{/foreach}}
                        </div>
                    </section>
                {{/get}}

                {{#get "tags" include="count.posts" limit="all" filter="name:~^'Project: '" as |topic|}}
                    <section class="gh-section">
                        <h3 class="gh-section-title"><a href="/blog/projects/">Projects</a></h3>

                        <div class="gh-topic">
                            {{#foreach topic}}
                                <a class="gh-topic-item" href="{{url}}">
                                    <h3 class="gh-topic-name" id="-cdz-topic-name-{{slug}}">{{name}}</h3>
                                    <script type="text/javascript">
                                        document.getElementById("-cdz-topic-name-{{slug}}").textContent = "{{name}}".slice("Project: ".length);
                                    </script>
                                    <span class="gh-topic-count">
                                        {{plural count.posts empty="0 posts" singular="% post" plural="% posts"}}
                                    </span>
                                </a>
                            {{/foreach}}
                        </div>
                    </section>
                {{/get}}

                {{#get "tags" include="count.posts" limit="all" filter="name:'Talks',name:'Project Logs',name:'Project Announcements',name:'Birding'" as |topic|}}
                    <section class="gh-section">
                        <h3 class="gh-section-title">Featured Tags ★</h3>

                        <div class="gh-topic">
                            {{#foreach topic}}
                                <a class="gh-topic-item" href="{{url}}">
                                    <h3 class="gh-topic-name">{{name}}</h3>
                                    <span class="gh-topic-count">
                                        {{plural count.posts empty="0 posts" singular="% post" plural="% posts"}}
                                    </span>
                                </a>
                            {{/foreach}}
                        </div>
                    </section>
                {{/get}}

                {{#get "tags" include="count.posts" limit="all" filter="name:-~^'Project: '+name:-~^'Series: '+name:-~^'License: '+name:-'Talks'+name:-'Project Logs'+name:-'Project Announcements'+name:-'Birding'" as |topic|}}
                    <section class="gh-section">
                        <h3 class="gh-section-title"><a href="/blog/tags/">Topics</a></h3>

                        <div class="gh-topic">
                            {{#foreach topic}}
                                <a class="gh-topic-item" href="{{url}}">
                                    <h3 class="gh-topic-name">{{name}}</h3>
                                    <span class="gh-topic-count">
                                        {{plural count.posts empty="0 posts" singular="% post" plural="% posts"}}
                                    </span>
                                </a>
                            {{/foreach}}
                        </div>
                    </section>
                {{/get}}

                {{#if @site.recommendations_enabled}}
                    <section class="gh-section">
                        <h3 class="gh-section-title">Recommendations</h3>

                        <div class="gh-recommendations">
                            {{recommendations}}
                            <button data-portal="recommendations">See all {{> "icons/arrow-right"}}</button>
                        </div>
                    </section>
                {{/if}}
            </aside>
        </div>
    </div>
</main>
