{{!< default}}

<main id="gh-main" class="gh-main gh-canvas cdz-is-blog cdz-tag-with-links">
    {{#tag}}
    {{#contentFor "title"}}{{name}} • {{@site.title}}{{/contentFor}}
        <section class="gh-pagehead">
            <header class="gh-pagehead-content">
                <div class="gh-tag-label" id="-cdz-target-tag-label">Topic:</div>
                <h1 class="gh-tag-name gh-pagehead-title" id="-cdz-target-tag-name">{{name}}</h1>

                <script type="text/javascript">
                    const cdzProjectStr = "Project: ";
                    const cdzSeriesStr = "Series: ";
                    const cdzLicenseStr = "License: ";
                    if ("{{name}}".startsWith(cdzProjectStr)) {
                        document.getElementById("-cdz-target-tag-label").textContent = "Project:";
                        document.getElementById("-cdz-target-tag-name").textContent = "{{name}}".slice(cdzProjectStr.length);
                    } else if ("{{name}}".startsWith(cdzSeriesStr)) {
                        document.getElementById("-cdz-target-tag-label").textContent = "Series:";
                        document.getElementById("-cdz-target-tag-name").textContent = "{{name}}".slice(cdzSeriesStr.length);
                    } else if ("{{name}}".startsWith(cdzLicenseStr)) {
                        document.getElementById("-cdz-target-tag-label").textContent = "License:";
                        document.getElementById("-cdz-target-tag-name").textContent = "{{name}}".slice(cdzLicenseStr.length);
                    } else if ("{{name}}" === "Talks" || "{{name}}" === "Project Logs" || "{{name}}" === "Project Announcements") {
                        document.getElementById("-cdz-target-tag-label").textContent = "Tag:";
                    }
                </script>

                <div class="gh-tag-description gh-pagehead-description">
                    {{#if description}}
                        <p>{{description}}</p>
                    {{/if}}
                </div>
                <div class="gh-tag-description gh-pagehead-description">
                    {{plural ../pagination.total empty="0 posts" singular="% post" plural="% posts"}}
                    <br />
                    {{#get "posts" limit="1" order="published_at ASC" filter="tags:{{slug}}" as |post|}}
                        {{#post}}
                            {{date published_at format="MMM YYYY"}} –
                        {{/post}}
                    {{/get}}
                    {{#get "posts" limit="1" order="published_at DESC" filter="tags:{{slug}}" as |post|}}
                        {{#post}}
                            {{date published_at format="MMM YYYY"}}
                        {{/post}}
                    {{/get}}
                    <br />
                    <a href="{{url absolute="true"}}feed" class="cdz-inline-icon-btn-sm" title="“{{name}}” RSS Feed" aria-label="“{{name}}” RSS Feed" style="margin-left: -2px;">{{> "icons/rss"}}</a>
                </div>
            </header>

            <div class="cdz-cards-xs">

              <div class="cdz-card-xs kg-card kg-bookmark-card cdz-link-card">
              <a class="kg-bookmark-container" href="https://pictures.dzombak.com/gallery/_RSgeKy8H7Qr_0X9c3IakuuN">
                <div class="kg-bookmark-content">
                  <div class="kg-bookmark-title">
                    <img class="kg-bookmark-icon cdz-darkmode-invert" src="https://dist.cdzombak.net/img/site/camera-line.svg" alt="">
                    <span>
                      Bird Photography
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div class="cdz-card-xs kg-card kg-bookmark-card cdz-link-card">
              <a class="kg-bookmark-container" href="https://ebird.org/profile/MjA4NjIyNA?ref=www2025.dzombak.com">
                <div class="kg-bookmark-content">
                  <div class="kg-bookmark-title">
                    <img class="kg-bookmark-icon" src="https://dist.cdzombak.net/img/site/ebird.png" alt="">
                    <span>
                      My eBird
                    </span>
                  </div>
                </div>
              </a>
            </div>

              <div class="cdz-card-xs cdz-link-card kg-card kg-bookmark-card">
              <a class="kg-bookmark-container" href="https://app.birdweather.com/stations/3336">
                <div class="kg-bookmark-content">
                  <div class="kg-bookmark-title">
                    <img class="kg-bookmark-icon" src="https://dist.cdzombak.net/img/site/birdweather.png" alt="">
                    <span>Home BirdWeather</span>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </section>

        {{#get "posts" limit="all" filter="tags:hash-tag-content+tags:{{slug}}" as |post|}}
            {{#post}}
                <div class="gh-content cdz-tag-content">
                {{content}}
                </div>
            {{/post}}
        {{/get}}
    {{/tag}}

    <section class="gh-section">
        <h2 class="gh-section-title"><a href="https://pictures.dzombak.com/gallery/FHaZFQEiAVAvrEbhkQo_CrBB">Recent Birb Friends</a></h2>

        <div class="gh-featured gh-feed cdz-pictures-feed" id="-cdz-birdbuddy-feed">
            <noscript>Embedded Bird Buddy feed requires JavaScript; please visit <a href="https://pictures.dzombak.com/gallery/FHaZFQEiAVAvrEbhkQo_CrBB">pictures.dzombak.com/gallery/FHaZFQEiAVAvrEbhkQo_CrBB</a>.</noscript>
        </div>
    </section>

    <h2 class="gh-section-title" style="margin-top: 2rem;">Birding Blog Posts</h2>
    <div class="gh-feed">
        {{#foreach posts}}
            {{^has tag="#tag-content"}}
                {{> loop}}
            {{/has}}
        {{/foreach}}
    </div>

    <button class="gh-loadmore gh-btn">Load more posts</button>
</main>
