{{!< default}}

<main id="gh-main" class="gh-main gh-canvas">
    {{#tag}}
        <section class="gh-pagehead">
            <header class="gh-pagehead-content">
                <div class="gh-tag-label" id="-cdz-target-tag-label">Topic:</div>
                <h1 class="gh-tag-name gh-pagehead-title" id="-cdz-target-tag-name">{{name}}</h1>

                <script type="text/javascript">
                    const cdzProjectStr = "Project: ";
                    const cdzSeriesStr = "Series: ";
                    if ("{{name}}".startsWith(cdzProjectStr)) {
                        document.getElementById("-cdz-target-tag-label").textContent = "Project:";
                        document.getElementById("-cdz-target-tag-name").textContent = "{{name}}".slice(cdzProjectStr.length);
                    } else if ("{{name}}".startsWith(cdzSeriesStr)) {
                        document.getElementById("-cdz-target-tag-label").textContent = "Series:";
                        document.getElementById("-cdz-target-tag-name").textContent = "{{name}}".slice(cdzSeriesStr.length);
                    }
                </script>

                <div class="gh-tag-description gh-pagehead-description">
                    {{#if description}}
                        <p>{{description}}</p>
                    {{/if}}
                </div>
                <div class="gh-tag-description gh-pagehead-description">
                    {{plural ../pagination.total empty="0 posts" singular="% post" plural="% posts"}}
                    <br />
                    {{#get "posts" limit="1" order="published_at ASC" filter="tags:{{slug}}" as |post|}}
                        {{#post}}
                            {{date published_at format="MMM YYYY"}} –
                        {{/post}}
                    {{/get}}
                    {{#get "posts" limit="1" order="published_at DESC" filter="tags:{{slug}}" as |post|}}
                        {{#post}}
                            {{date published_at format="MMM YYYY"}}
                        {{/post}}
                    {{/get}}
                </div>
            </header>
        </section>

        {{#get "posts" limit="all" filter="tags:hash-tag-content+tags:{{slug}}" as |post|}}
            {{#post}}
                <div class="gh-content cdz-tag-content">
                {{content}}
                </div>
            {{/post}}
        {{/get}}
    {{/tag}}

    <div class="gh-feed">
        {{#foreach posts}}
            {{^has tag="#tag-content"}}
                {{> loop}}
            {{/has}}
        {{/foreach}}
    </div>

    <button class="gh-loadmore gh-btn">Load more posts</button>
</main>
